.portfolio {
    padding-top: 120px;
}

.portfolio__title {
    text-align: center;
    position: relative;
    @include before_circle;
    &:before {
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.portfolio__subtitle {
    text-align: center;
}

.portfolio__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(2, 280px) / repeat(4, 280px);
    grid-auto-rows: 280px;
    grid-gap: 5px;

}

.vertical {
    grid-row: 1/3;
    grid-column: 4 / 5;
}

.horizontal {
    grid-row: 2 / 3 ;
    grid-column: 2 / 4;
}

.portfolio__item {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &:hover {
        .portfolio__img{
            filter: grayscale(50%) blur(1px) sepia(10%) opacity(60%);
            transform: scale(1.1);
            transition: all 0.6s;
        }
        .portfolio__containing {
            background-color: rgba($color: $main-color, $alpha: .7);
            transition: all 0.6s;
            top: 0;
            opacity: 1;
        }
    }
}

.portfolio__img {
    width: 100%;
    height: 100%;
    transition: all 0.6s;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.portfolio__containing {
    display: block;
    position: absolute;
    top: -200px;
    opacity: 1;
    padding: 40px 20px 0;
    text-align: center;
    color: #000000;
    transition: all 0.6s;
    width: 100%;
    height: 100%;
    &-link {
        font-size: 26px;
        font-weight: bold;
    }
    &-descr {
        margin-top: 10px;
        font-size: 18px;
    }
}
