.promo {
    min-height: 100vh;
    position: relative;
    background: url("../img/main_bg_2.jpg") no-repeat 50%/cover;
    padding-top: 205px;

    color: #ffffff;
}

.promo__title {
    width: 535px;
    margin-top: 10px;
}

.promo__btn {
    margin-top: 10px;
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

.promo__subtitle{
    position: relative;
    padding-left: 10px;
    z-index: 2;
    @include before_circle;
}

.promo__link{
    color: #ffffff;
    font-weight: bold;
    transition: color 0.1s linear;
    &:hover {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
    }
}

//удалить

.pomogi{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    opacity: 0.2;
}

.hamburger{
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    span{
        display: block;
        width: 30px;
        height: 3px;
        background-color: #e6e6e6;
    }
    span.long{
        width: 36px;
    }
}